.AddFriend {
  margin-bottom:10px;
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: inset  0 0 2px 1px rgba(0, 0, 0, 0.084);
}

.AddFriend input {
  padding: 10px 20px;
}