@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b25320 white;
  font-family: "Raleway", sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(219, 219, 223, 0.353);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

.main_content {
  color: rgb(24, 24, 24);
  display: flex;
  font-size: 0.9rem;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}
input {
  border-radius: 6px;
  border: 1px rgba(0, 0, 0, 0.327) solid;
}
hr {
  filter: opacity(0.5);
}
.App_messages,
.App__friends {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: rgb(27, 27, 27);
}
.header {
  color: rgb(27, 27, 27);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.448);
  padding: 0px 6px 2px 0px;
  border-bottom-right-radius: 6px;
}
.search_input {
  padding: 10px 20px;
  margin-bottom: 20px;
}
p {
  margin: 2px;
}

@media (max-width: 767px) {
  .main_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App_messages,
  .App__friends,
  .App__gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(27, 27, 27);
  }
}
